In [70]:
import pandas as pd
from datetime import datetime

data = pd.read_csv("C:\\Users\\rache\\OneDrive\\שולחן העבודה\\matala2_cosmetics_2019-Nov.csv", low_memory=False)
data.head(15)
#data.tail()
#

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-01 00:00:02 UTC,view,5802432,1487580009286598681,NaN,NaN,0.32,562076640,09fafd6c-6c99-46b1-834f-33527f4de241
1,2019-11-01 00:00:09 UTC,cart,5844397,1487580006317032337,NaN,NaN,2.38,553329724,2067216c-31b5-455d-a1cc-af0575a34ffb
2,2019-11-01 00:00:10 UTC,view,5837166,1783999064103190764,NaN,pnb,22.22,556138645,57ed222e-a54a-4907-9944-5a875c2d7f4f
3,2019-11-01 00:00:11 UTC,cart,5876812,1487580010100293687,NaN,jessnail,3.16,564506666,186c1951-8052-4b37-adce-dd9644b1d5f7
4,2019-11-01 00:00:24 UTC,remove_from_cart,5826182,1487580007483048900,NaN,NaN,3.33,553329724,2067216c-31b5-455d-a1cc-af0575a34ffb
5,2019-11-01 00:00:24 UTC,remove_from_cart,5826182,1487580007483048900,NaN,NaN,3.33,553329724,2067216c-31b5-455d-a1cc-af0575a34ffb
6,2019-11-01 00:00:25 UTC,view,5856189,1487580009026551821,NaN,runail,15.71,562076640,09fafd6c-6c99-46b1-834f-33527f4de241
7,2019-11-01 00:00:32 UTC,view,5837835,1933472286753424063,NaN,NaN,3.49,514649199,432a4e95-375c-4b40-bd36-0fc039e77580
8,2019-11-01 00:00:34 UTC,remove_from_cart,5870838,1487580007675986893,NaN,milv,0.79,429913900,2f0bff3c-252f-4fe6-afcd-5d8a6a92839a
9,2019-11-01 00:00:37 UTC,view,5870803,1487580007675986893,NaN,milv,0.79,429913900,2f0bff3c-252f-4fe6-afcd-5d8a6a92839a
10,2019-11-01 00:00:42 UTC,remove_from_cart,5870803,1487580007675986893,NaN,milv,0.79,429913900,2f0bff3c-252f-4fe6-afcd-5d8a6a92839a
11,2019-11-01 00:00:46 UTC,view,5841721,1487580008187692007,NaN,NaN,1.37,429913900,2f0bff3c-252f-4fe6-afcd-5d8a6a92839a
12,2019-11-01 00:00:50 UTC,view,5856190,1487580009026551821,NaN,runail,15.71,562076640,09fafd6c-6c99-46b1-834f-33527f4de241
13,2019-11-01 00:00:51 UTC,remove_from_cart,5710314,1487580005268456287,NaN,lianail,5.54,566239468,3ad69360-e328-454a-b1f8-0e0901e1e344
14,2019-11-01 00:00:55 UTC,view,5534,1487580006711296933,NaN,ingarden,14.76,556138645,57ed222e-a54a-4907-9944-5a875c2d7f4f

In [75]:

data2 = data.head(2000)
data2

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-01 00:00:02 UTC,view,5802432,1487580009286598681,NaN,NaN,0.32,562076640,09fafd6c-6c99-46b1-834f-33527f4de241
1,2019-11-01 00:00:09 UTC,cart,5844397,1487580006317032337,NaN,NaN,2.38,553329724,2067216c-31b5-455d-a1cc-af0575a34ffb
2,2019-11-01 00:00:10 UTC,view,5837166,1783999064103190764,NaN,pnb,22.22,556138645,57ed222e-a54a-4907-9944-5a875c2d7f4f
3,2019-11-01 00:00:11 UTC,cart,5876812,1487580010100293687,NaN,jessnail,3.16,564506666,186c1951-8052-4b37-adce-dd9644b1d5f7
4,2019-11-01 00:00:24 UTC,remove_from_cart,5826182,1487580007483048900,NaN,NaN,3.33,553329724,2067216c-31b5-455d-a1cc-af0575a34ffb
...,...,...,...,...,...,...,...,...,...
1995,2019-11-01 02:01:58 UTC,view,5528,1487580006199591819,NaN,ingarden,5.24,542304333,c8270e90-acf8-4661-b11e-40a33ae3ff00
1996,2019-11-01 02:02:07 UTC,remove_from_cart,5883637,1487580007483048900,NaN,ingarden,3.65,563152739,ed414b99-766d-448b-bef2-7d8f15d9704a
1997,2019-11-01 02:02:07 UTC,remove_from_cart,5883637,1487580007483048900,NaN,ingarden,3.65,563152739,ed414b99-766d-448b-bef2-7d8f15d9704a
1998,2019-11-01 02:02:13 UTC,cart,5655060,1487580008145748965,NaN,NaN,1.43,566292052,87a05110-7384-4b7f-8399-f8b709dad6e6
1999,2019-11-01 02:02:15 UTC,remove_from_cart,5739493,1487580012927254698,NaN,NaN,5.87,439871780,1474a72b-4d80-45a2-8e2e-82f2da875af6

In [22]:
#rewrite the code so it calculate the time difference between events only if o they belong to the same user_session values.

# Q1

In [76]:
#the code##########################
from datetime import datetime
data2.loc[:, 'event_time'] = pd.to_datetime(data2['event_time'])

data2 = data2.sort_values(by=['user_session', 'event_time'])

x = data2['user_session'] == data2['user_session'].shift(1)
if x.all():
    date1 = data2['event_time'].str.split()
    hour1 = date1.str[1]
    datetime1 = datetime.strptime(hour1, '%H:%M:%S')
    
    date2 = data2['event_time'].shift(1).str.split()
    hour2 = date2.str[1]
    datetime2 = datetime.strptime(hour2, '%H:%M:%S')
    
    time_diff = datetime2 - datetime1

data2['duration_to_next_event1'] = (data2.groupby('user_session')['event_time'].shift(-1) - data2['event_time']).dt.total_seconds().fillna(0)
    
#data2['duration_from_previous_event'] = (data2['event_time'] - data2.groupby('user_session')['event_time'].shift()).dt.total_seconds().fillna(0)

#data2['duration_to_next_event'] = data2.groupby('user_session')['event_time'].diff().dt.total_seconds().fillna(0)

data2

c:\users\rache\appdata\local\programs\python\python39\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,duration_to_next_event1
1468,2019-11-01 01:35:21+00:00,view,4765,1487580010796548183,NaN,runail,0.38,566291244,0006b6fd-2930-4652-a4de-3c10b6ba131a,0.0
953,2019-11-01 01:03:35+00:00,view,5696324,1487580013841613016,NaN,estel,6.59,390049318,000a16cf-3a42-48f5-98e4-caf0bffbfab3,0.0
1338,2019-11-01 01:28:13+00:00,view,5815157,1487580005461394279,NaN,bluesky,3.97,455571231,015e4a63-757e-478b-ab55-1cccb85708d6,0.0
926,2019-11-01 01:00:57+00:00,view,5899436,1487580010268065854,NaN,NaN,7.11,511973458,017e38ca-43b3-479a-bb6a-745fe1729048,0.0
508,2019-11-01 00:38:39+00:00,view,5670001,1495705810662064688,NaN,konad,4.13,566276650,0226dd29-c6a4-4f3c-be5e-0222c3d9f5af,284.0
...,...,...,...,...,...,...,...,...,...,...
1269,2019-11-01 01:24:54+00:00,cart,5823014,1487580008246412266,NaN,estel,8.1,531507203,fe18bcc0-dcd0-4331-bff6-ab8737989143,3.0
1270,2019-11-01 01:24:57+00:00,cart,5823014,1487580008246412266,NaN,estel,8.1,531507203,fe18bcc0-dcd0-4331-bff6-ab8737989143,5.0
1274,2019-11-01 01:25:02+00:00,view,5823014,1487580008246412266,NaN,estel,8.1,531507203,fe18bcc0-dcd0-4331-bff6-ab8737989143,59.0
1289,2019-11-01 01:26:01+00:00,cart,5677054,1487580008246412266,NaN,estel,4.29,531507203,fe18bcc0-dcd0-4331-bff6-ab8737989143,0.0
1926,2019-11-01 01:57:09+00:00,cart,5850494,1487580008246412266,NaN,insight,13.97,497455802,NaN,0.0

In [77]:
data2

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,duration_to_next_event1
1468,2019-11-01 01:35:21+00:00,view,4765,1487580010796548183,NaN,runail,0.38,566291244,0006b6fd-2930-4652-a4de-3c10b6ba131a,0.0
953,2019-11-01 01:03:35+00:00,view,5696324,1487580013841613016,NaN,estel,6.59,390049318,000a16cf-3a42-48f5-98e4-caf0bffbfab3,0.0
1338,2019-11-01 01:28:13+00:00,view,5815157,1487580005461394279,NaN,bluesky,3.97,455571231,015e4a63-757e-478b-ab55-1cccb85708d6,0.0
926,2019-11-01 01:00:57+00:00,view,5899436,1487580010268065854,NaN,NaN,7.11,511973458,017e38ca-43b3-479a-bb6a-745fe1729048,0.0
508,2019-11-01 00:38:39+00:00,view,5670001,1495705810662064688,NaN,konad,4.13,566276650,0226dd29-c6a4-4f3c-be5e-0222c3d9f5af,284.0
...,...,...,...,...,...,...,...,...,...,...
1269,2019-11-01 01:24:54+00:00,cart,5823014,1487580008246412266,NaN,estel,8.1,531507203,fe18bcc0-dcd0-4331-bff6-ab8737989143,3.0
1270,2019-11-01 01:24:57+00:00,cart,5823014,1487580008246412266,NaN,estel,8.1,531507203,fe18bcc0-dcd0-4331-bff6-ab8737989143,5.0
1274,2019-11-01 01:25:02+00:00,view,5823014,1487580008246412266,NaN,estel,8.1,531507203,fe18bcc0-dcd0-4331-bff6-ab8737989143,59.0
1289,2019-11-01 01:26:01+00:00,cart,5677054,1487580008246412266,NaN,estel,4.29,531507203,fe18bcc0-dcd0-4331-bff6-ab8737989143,0.0
1926,2019-11-01 01:57:09+00:00,cart,5850494,1487580008246412266,NaN,insight,13.97,497455802,NaN,0.0

# Q2 WORKING

In [78]:
#working q2

from datetime import datetime, timedelta

data2.loc[:, 'event_time'] = pd.to_datetime(data2['event_time'])

data2 = data2.sort_values(by=['user_session', 'event_time'])

def calculate_funnel_number(group):
    event1 = group['event_time'].iloc[0]
    event2 = group['event_time'].shift(1).iloc[0]
    time_diff = event1 - event2
    if time_diff.days <= 5:
        return 1
    else:
        time_diffs = (group['event_time'] - group['event_time'].shift(1)).dt.days.fillna(0)
        time_diffs.loc[time_diffs > 5] = 1
        return time_diffs.cumsum() + 1

data2['funnel_number'] = data2.groupby('user_session').apply(calculate_funnel_number).reset_index(drop=True)

data2

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,duration_to_next_event1,funnel_number
1468,2019-11-01 01:35:21+00:00,view,4765,1487580010796548183,NaN,runail,0.38,566291244,0006b6fd-2930-4652-a4de-3c10b6ba131a,0.0,1.0
953,2019-11-01 01:03:35+00:00,view,5696324,1487580013841613016,NaN,estel,6.59,390049318,000a16cf-3a42-48f5-98e4-caf0bffbfab3,0.0,1.0
1338,2019-11-01 01:28:13+00:00,view,5815157,1487580005461394279,NaN,bluesky,3.97,455571231,015e4a63-757e-478b-ab55-1cccb85708d6,0.0,1.0
926,2019-11-01 01:00:57+00:00,view,5899436,1487580010268065854,NaN,NaN,7.11,511973458,017e38ca-43b3-479a-bb6a-745fe1729048,0.0,1.0
508,2019-11-01 00:38:39+00:00,view,5670001,1495705810662064688,NaN,konad,4.13,566276650,0226dd29-c6a4-4f3c-be5e-0222c3d9f5af,284.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
1269,2019-11-01 01:24:54+00:00,cart,5823014,1487580008246412266,NaN,estel,8.1,531507203,fe18bcc0-dcd0-4331-bff6-ab8737989143,3.0,1.0
1270,2019-11-01 01:24:57+00:00,cart,5823014,1487580008246412266,NaN,estel,8.1,531507203,fe18bcc0-dcd0-4331-bff6-ab8737989143,5.0,1.0
1274,2019-11-01 01:25:02+00:00,view,5823014,1487580008246412266,NaN,estel,8.1,531507203,fe18bcc0-dcd0-4331-bff6-ab8737989143,59.0,1.0
1289,2019-11-01 01:26:01+00:00,cart,5677054,1487580008246412266,NaN,estel,4.29,531507203,fe18bcc0-dcd0-4331-bff6-ab8737989143,0.0,1.0
1926,2019-11-01 01:57:09+00:00,cart,5850494,1487580008246412266,NaN,insight,13.97,497455802,NaN,0.0,1.0

# Q3 WORKING

In [80]:
from datetime import datetime, timedelta

data2.loc[:, 'event_time'] = pd.to_datetime(data2['event_time'])

data2 = data2.sort_values(by=['user_session', 'event_time'])

def calculate_funnel_number(group):
    event1 = group['event_time'].iloc[0]
    event2 = group['event_time'].shift(1).iloc[0]
    time_diff = event1 - event2
    if time_diff.days <= 5:
        return 1
    else:
        time_diffs = (group['event_time'] - group['event_time'].shift(1)).dt.days.fillna(0)
        time_diffs.loc[time_diffs > 5] = 1
        return time_diffs.cumsum() + 1

data2['funnel_number'] = data2.groupby('user_session').apply(calculate_funnel_number).reset_index(drop=True)

data2['index_in_funnel'] = data2.groupby(['user_session', 'funnel_number']).cumcount() + 1

data2

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,duration_to_next_event1,funnel_number,index_in_funnel
1468,2019-11-01 01:35:21+00:00,view,4765,1487580010796548183,NaN,runail,0.38,566291244,0006b6fd-2930-4652-a4de-3c10b6ba131a,0.0,1.0,1
953,2019-11-01 01:03:35+00:00,view,5696324,1487580013841613016,NaN,estel,6.59,390049318,000a16cf-3a42-48f5-98e4-caf0bffbfab3,0.0,1.0,1
1338,2019-11-01 01:28:13+00:00,view,5815157,1487580005461394279,NaN,bluesky,3.97,455571231,015e4a63-757e-478b-ab55-1cccb85708d6,0.0,1.0,1
926,2019-11-01 01:00:57+00:00,view,5899436,1487580010268065854,NaN,NaN,7.11,511973458,017e38ca-43b3-479a-bb6a-745fe1729048,0.0,1.0,1
508,2019-11-01 00:38:39+00:00,view,5670001,1495705810662064688,NaN,konad,4.13,566276650,0226dd29-c6a4-4f3c-be5e-0222c3d9f5af,284.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1269,2019-11-01 01:24:54+00:00,cart,5823014,1487580008246412266,NaN,estel,8.1,531507203,fe18bcc0-dcd0-4331-bff6-ab8737989143,3.0,1.0,10
1270,2019-11-01 01:24:57+00:00,cart,5823014,1487580008246412266,NaN,estel,8.1,531507203,fe18bcc0-dcd0-4331-bff6-ab8737989143,5.0,1.0,11
1274,2019-11-01 01:25:02+00:00,view,5823014,1487580008246412266,NaN,estel,8.1,531507203,fe18bcc0-dcd0-4331-bff6-ab8737989143,59.0,1.0,12
1289,2019-11-01 01:26:01+00:00,cart,5677054,1487580008246412266,NaN,estel,4.29,531507203,fe18bcc0-dcd0-4331-bff6-ab8737989143,0.0,1.0,13
1926,2019-11-01 01:57:09+00:00,cart,5850494,1487580008246412266,NaN,insight,13.97,497455802,NaN,0.0,1.0,2

# #Q4

In [81]:
def extract_float(text):
    try:
        return float(re.findall(r'\d+\.?\d*', str(text))[0])
    except:
        return text

data2['price'] = data2['price'].apply(extract_float)


data2

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,duration_to_next_event1,funnel_number,index_in_funnel
1468,2019-11-01 01:35:21+00:00,view,4765,1487580010796548183,NaN,runail,0.38,566291244,0006b6fd-2930-4652-a4de-3c10b6ba131a,0.0,1.0,1
953,2019-11-01 01:03:35+00:00,view,5696324,1487580013841613016,NaN,estel,6.59,390049318,000a16cf-3a42-48f5-98e4-caf0bffbfab3,0.0,1.0,1
1338,2019-11-01 01:28:13+00:00,view,5815157,1487580005461394279,NaN,bluesky,3.97,455571231,015e4a63-757e-478b-ab55-1cccb85708d6,0.0,1.0,1
926,2019-11-01 01:00:57+00:00,view,5899436,1487580010268065854,NaN,NaN,7.11,511973458,017e38ca-43b3-479a-bb6a-745fe1729048,0.0,1.0,1
508,2019-11-01 00:38:39+00:00,view,5670001,1495705810662064688,NaN,konad,4.13,566276650,0226dd29-c6a4-4f3c-be5e-0222c3d9f5af,284.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1269,2019-11-01 01:24:54+00:00,cart,5823014,1487580008246412266,NaN,estel,8.10,531507203,fe18bcc0-dcd0-4331-bff6-ab8737989143,3.0,1.0,10
1270,2019-11-01 01:24:57+00:00,cart,5823014,1487580008246412266,NaN,estel,8.10,531507203,fe18bcc0-dcd0-4331-bff6-ab8737989143,5.0,1.0,11
1274,2019-11-01 01:25:02+00:00,view,5823014,1487580008246412266,NaN,estel,8.10,531507203,fe18bcc0-dcd0-4331-bff6-ab8737989143,59.0,1.0,12
1289,2019-11-01 01:26:01+00:00,cart,5677054,1487580008246412266,NaN,estel,4.29,531507203,fe18bcc0-dcd0-4331-bff6-ab8737989143,0.0,1.0,13
1926,2019-11-01 01:57:09+00:00,cart,5850494,1487580008246412266,NaN,insight,13.97,497455802,NaN,0.0,1.0,2